---
import Editor from '../components/Editor';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="max-w-7xl mx-auto">
		<Editor client:load code="<strong>Hello World!</strong>"/>
	</div>
</Layout>
